.News-wrapper {
  margin-top: 20px;
}

.News-item {
  padding: 1em;
  list-style-type: none;
  border-radius: 6px;
  margin-bottom: 1em;
  background: #fff;
  box-shadow: 0px 2px 6px 2px #0002;
}

.Title {
  font-size: 100%;
}

.Content {
  margin: 1em 0;
}

.Author {
  font-size: 80%;
  font-weight: bold;
}
